<!DOCTYPE html>
<html>
<head>
  <title>SensaTouchStore</title>
  <%= csrf_meta_tag %>
<link rel="stylesheet" href="resources/css/sink.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
<script src="/sencha-touch/sencha-touch-debug.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/sencha-touch/resources/css-debug/sencha-touch.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="app/app.js" type="text/javascript" charset="utf-8"></script>
<script src="app/menu.js" type="text/javascript" charset="utf-8"></script>
<script src="app/models/Product.js" type="text/javascript" charset="utf-8"></script>
<script src="app/views/Viewport.js" type="text/javascript" charset="utf-8"></script>
<script src="app/views/ProductList.js" type="text/javascript" charset="utf-8"></script>


</head>
<body>

<%= yield %>

</body>
</html>
